.header__banner {
  height: 300px;
  background: url(https://hsgtravel.vn/storage/blog/12/65b23f9a1e5c7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  font-family: var(--banner-font);
}
.header__banner::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.432);
  content: "";
}
.banner__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  color: var(--activemenu-color);
}
.banner__content h2 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1.1px;
}
.banner__content .content__text {
  flex-direction: row;
  font-size: 13px;
  margin: 0;
  gap: 10px;
}
.banner__content .content__text a {
  color: var(--activemenu-color);
}

/* responsive */
@media (max-width: 740px) {
  .header__banner {
    height: 160px;
  }
  .header__banner .banner__video {
    background-image: none;
  }
  .banner__content h2 {
    font-size: 20px;
  }
}
